@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #191920;
  color: #fff;
}

.dots {
  width: 56px;
  height: 26.9px;
  background: radial-gradient(circle closest-side,#818cf8 90%,#0000) 0%   50%,
         radial-gradient(circle closest-side,#818cf8 90%,#0000) 50%  50%,
         radial-gradient(circle closest-side,#818cf8 90%,#0000) 100% 50%;
  background-size: calc(100%/3) 13.4px;
  background-repeat: no-repeat;
  animation: dots-7ar3yq 1s infinite linear;
}

.scrollbar-custom::-webkit-scrollbar {
   width: 8px;
 }
 
 .scrollbar-custom::-webkit-scrollbar-track {
   background: transparent;
 }
 
.scrollbar-custom::-webkit-scrollbar-thumb {
   background-color: #474747;
   border-radius: 20px;
   transition: 0.3s;
 }
 
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
   background: #555;
 }

.apexcharts-legend-text {
  color: #fff!important;
 }

/* #chartContainer .apexcharts-tooltip {
  color: #000000!important;
} */

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

.apexcharts-yaxis-texts-g {
  color: #fff!important;
}

.apexcharts-tooltip {
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  color: #000!important;
}

.apexcharts-tooltip-text-value {
   font-weight: normal;
   font-family: Lato;
   font-size: 12px;
}

input[type="date"] {
  appearance: none; /* Remove o estilo padrão */
  -webkit-appearance: none; /* Remove o estilo padrão no Webkit */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-calendar" viewBox="0 0 16 16"> <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-1h12V3a1 1 0 0 0-1-1h-1v.5a.5.5 0 0 1-1 0V2h-8v.5a.5.5 0 0 1-1 0V2H2a1 1 0 0 0-1 1v1z"/> </svg>') no-repeat right 10px center;
  background-size: 16px 16px;
  border: 1px solid #595858;
  padding: 10px;
  height: 50px;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: #fff; /* Ajuste conforme necessário */
  font-family: inherit; /* Mantém a fonte do pai */
}

/* Remove os botões de rotação e o botão de limpeza */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Estiliza o indicador de calendário */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  color: #fff;
  opacity: 0; /* Torna o indicador invisível para mostrar o ícone personalizado */
}


@keyframes dots-7ar3yq {
  20% {
     background-position: 0%   0%, 50%  50%,100%  50%;
  }

  40% {
     background-position: 0% 100%, 50%   0%,100%  50%;
  }

  60% {
     background-position: 0%  50%, 50% 100%,100%   0%;
  }

  80% {
     background-position: 0%  50%, 50%  50%,100% 100%;
  }
}